
h1.inline, h2.inline, h3.inline,
h4.inline, h5.inline, h6.inline{
	display:inline;
	vertical-align:middle; 
}



.arrow-left,
.arrow-right {
    visibility: hidden;
}


#main-img {
  width: 100%;
  position: absolute;
}


#countdown {
  font-weight: bold;
}

.cal-link {
  padding-left: 5px;
  color: #f0394d;
}


.cal-link .fa-calendar {
    margin-right: 0.5rem;
}

.rsvp-btn {
    background: #f0394d;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}


.primary-nav > li:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    content: '\e9bd';
    color: #f0394d;
    text-align: center;
    margin-right: 1rem;

}


#menu-logo {
    width: 15%;
}


#banner {
    margin-top: 70%;
    width: 80%;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.de-icon{
	width: 60px;
	height: 60px;
	line-height: 60px;
	font-size:30px;
	text-align: center;
	vertical-align: middle;
	margin:8px 0px;

	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
	/*The transition will be disabled on script.js for tablet/mobile*/
}

.de-icon.inline{
	display:inline-block;
	vertical-align:middle;
	margin-right:8px;
}

.de-icon.float{
	float:left;
	margin-right:15px
}

.de-icon i{
	-webkit-transition: 0.3s all ease;
	-moz-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	-ms-transition: 0.3s all ease;
	transition: 0.3s all ease;
	/*The transition will be disabled on script.js for tablet/mobile*/
}

/*------------------------------------------------*/
/* 08.1	 Size 							   	  	  */
/*------------------------------------------------*/

.de-icon.medium-size{
	width: 54px;
	height: 54px;
	line-height: 54px;
	font-size:21px;
}

.de-icon.small-size{
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size:18px;
}

/*------------------------------------------------*/
/* 08.2 Shape									  */
/*------------------------------------------------*/

/* 08.2.1 Default								  */
/*------------------------------------------------*/
.de-icon.default{
	color:#6a6a6a;
}

.de-icon.default.light{
	color:#FFF;
}

.de-icon.default.reverse{
	color:#f0394d;
}

a:hover .de-icon.default, a:hover .de-icon.default.light{
	color:#f0394d;
}

a:hover .de-icon.default.reverse{
	color:#6a6a6a;
}

a:hover .de-icon.default.light.reverse{
	color:#FFF;
}

/* 08.2.2 Circle, Rounded, Square				  */
/*------------------------------------------------*/
.de-icon.circle{
	border-radius: 50%;
}

 .de-icon.circle{
	background-color:#6a6a6a;
	color:#FFF;
}

 .de-icon.circle.reverse{
	background-color:#f0394d;
	color:#FFF;
}

 .de-icon.circle.light{
	background-color:#FFF;
	color:#6a6a6a;
}

 .de-icon.circle.light.reverse{
	background-color:#FFF;
	color:#f0394d;
}

a:hover .de-icon.circle{
	background-color:#f0394d;
	color:#FFF;
	border:none;
}

a:hover .de-icon.circle.reverse{
	background-color:#6a6a6a;
	color:#FFF;
	border:none;
}


/*------------------------------------------------*/
/* 08.3 Effect Zoom 						 	  */
/*------------------------------------------------*/

/*------------------------------------------------*/
/* 08.4 Effect Rotate						  	  */
/*------------------------------------------------*/

/*------------------------------------------------*/
/* 08.5 Effect Square/Rounded To Circle 	  	  */
/*------------------------------------------------*/
#our-story{
	padding: 50px 0
}

#story-text-main {
    font-weight: bold;
    font-size: 16px;
}

.story-row.row {
    display: table;
	padding:50px 0;
	position:relative;
}

.story-bg-wrap {
  position: relative;
  width: 100%;
}

.banner-text.light {
    color: #FFF;
    border-top: medium double #fff;
    border-bottom: medium double #fff;
}

.story-text-box {
}

.story-text-box h3 {
    color: #f0394d;
    font-size: 24px;
}

.story-text-box p {
    color: #555;
    font-weight: bold;
}


.info-row p {
    color: #555;
}

.story-row.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}

.story-date-wrapper{
	z-index:1;
}

.story-date{
	float:left;
	margin-left:16px;
	height:85px;
	width:85px;
	background-color:#f0394d;
	border-radius:50%;
}

.story-date .date-only{
	font-family: 'Oswald', sans-serif;
	font-size:25px;
	color:#FFF;
	line-height:25px;
	margin-top:30px;
}

.arrow-right {
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;

	border-left: 13px solid #e1dddd;
	float:right;
	margin-bottom:22px;
	margin-left:10px;
	margin-top:30px;
}

.arrow-left {
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;

	border-right:13px solid #e1dddd;
	float:left;
	margin-bottom:22px;
	margin-right:10px;
	margin-top:30px;
}

.vertical-line{
	position:absolute;
	height:100%;
	width:1px;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-left:1px solid #e1dddd;
}

.photo-item {
	position:relative;
	overflow:hidden;
}

.photo-item.frame-border {
	background-color:#fff;
	border:8px solid #fff;
    border-radius: 50%;
}

/* ----------------------------------------------*/
/* 09.1 Image 									 */
/* ----------------------------------------------*/
.photo-item img {
	width:100%;
}

/* ----------------------------------------------*/
/* 09.2 Layer 								 	 */
/* ----------------------------------------------*/
.photo-item .layer {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width:100%;
	height:100%;
}

.photo-item .layer.wh100{
	width:100%;
	height:100%;
}


/* 09.2.1 Layer : Second Image   				 */
/* ----------------------------------------------*/


/* 09.2.2 Layer : Black Overlay  				 */
/* ----------------------------------------------*/

.photo-item .layer.hidden-black-overlay{
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
}

/* 09.2.3 Layer : Photo Caption  				 */
/* ----------------------------------------------*/

/* 09.2.4 Layer : Icon / Button Link		 	 */
/* ----------------------------------------------*/
.photo-item .layer.link{
	opacity: 1;
}

.photo-item .layer.hidden-link{
	opacity: 0;
}

.photo-item:hover .layer.hover-animation.fade-in{
	opacity: 1;
}

.and{
	color:#f0394d
}

.border-column{
	border-left:1px solid #8b8b8b;
	border-right:1px solid #8b8b8b
}

#map-canvas{
	height:560px;
	width:100%;
}


@media screen and (max-width: 991px) {
.story-row.row {
    display: block;
	padding:20px 0
}

#banner {
    margin-top: 80%;
}

#menu-logo {
    width: 20%;
}

.story-row.row [class*="col-"] {
    display: block;
	text-align:center;
}

.story-date-wrapper{
	margin-bottom:30px;
}

.story-text-box {
    border-radius: 0%;
    padding: 0 40px;
}


.story-date{
	float:none;
	position:absolute;
	top:-70px;
	left:0;
	right:0;
	margin:auto;
}

.arrow-right {
	display:none;
	float:none;
}

.arrow-left {
	display:none;
	float:none;
}

.vertical-line{
	display:none;
}

.border-column{
	border:none;
}

}
